<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="demoMapper">

    <insert id="add" parameterType="HashMap">
        INSERT INTO jv_baseframework_demo
        (id, name, address)
        VALUES
        (seq_baseframework_demo.nextval, #{name}, #{address})
    </insert>

    <select id="queryListPage" resultType="HashMap">
        SELECT * FROM jv_baseframework_demo
    </select>
</mapper>